<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title >Final Project</title>
      
        <!-- Favicons -->
        <link href="{{ url_for('static',filename='img/favicon.jpg') }}" rel="icon">
        
         <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

        <!-- Our CSS -->
         <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"></link>
        
        <!-- Bootstrap CSS File -->
        <link href="{{ url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        
      <!---d3 dependencies--->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


      <!-- API Key -->
    <script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>      
      </head>

    <body id="body">  
        <!--Header Bar & Nav Icons-->
        <header id="header">
            <div class="container">
                <div id = 'logo' class ='pull-left'>
                    <h1><a href="#body" class="scrollto"></a>Final Project</a></h1>
                </div>
                <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li class="menu-active"><a href="#body">Home</a></li>
                          <li><a href="#about">About Project</a></li>
                          <li><a href="#process">Process</a></li>
                          <li><a href="/visualization">Visualizations</a></li>
                          <li><a href="/machinelearn">Machine Learning</a></li>
                          <li><a href="#team">Team</a> </li>
                            </ul>
                    </div>           
                        </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </header><!-- #header -->

        <!--==========================
        Intro Section
        ============================-->
        <section id="intro">

        <div class="intro-content">
        <h2>Cancer + <span>Pollution</span><br>Analysis</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">About</a>
            <a href="/visualization" class="btn-projects scrollto">Visualizations</a>
        </div>
        </div>

        <div id="intro-carousel" class="owl-carousel" >
            <div class="item" style="background-image: url('static/img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('static/img/intro-carousel/2.jpg');"></div>
        
        </div>
        </section><!-- #intro -->

  <!--==========================
        About Our Project
        ============================-->
        <section id="about" class="wow fadeInUp" style = "padding-top: 100px;">

          <div class="content">
                  <div class="container">
                  
            <h2>Comparing Pollution and Cancer Rates Across the US</h2>
            <h3>This project uses data from the EPA and the CDC to analyze and find patterns between pollution levels and cancer incidences across the United States. </h3>

            <ul>
                <!--=====css = about .content ul=======-->
              <li>To narrow our analysis, we focused specifically on Respiratory cancer sites including the larynx, lungs, trachea and nasal cavity. We selected gender, race, year, and location as our variables for deeper analysis. 
                Throughout the course of our project, we created three machine learning models and a neural network to predict pollution levels and cancer incidence rates to 2025. We used D3 and Tableau to visualize our results. 
              </li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->
    <br>
    <br>
    <br>
 <!--==========================
    Process Section
    ============================-->
    <section id="process">
            <div class="container" style = "padding-top: 20px;">
              <div class="section-header" >
                <h2>Process</h2>
              </div>
      
              <div class="row">
      
                <div class="col-lg-6">
                  <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a >1. Data Manipulation </a></h4>
                    <p class="description">Using python and pandas, we imported our 42 CSV files collected from the EPA and CDC and manipulated the data into dataframes. We cleaned the data, grouped by state and concatenated three new csv files for Cancer, Pollution and that data combined.</p>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <div class="box wow fadeInRight">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a >2. Linear Regression & AR Modeling</a></h4>
                    <p class="description">Originally, we tried to match our data to a simple linear regression model, but found that it did not fit to the model and chose an auto regession model instead.</p>
                  </div>
                </div>  
                
                <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                          <div class="icon"><i class="fa fa-bar-chart"></i></div>
                          <h4 class="title"><a >3. Neural Network </a></h4>
                          <p class="description">We chose to use a neural network as our major machine learning algorithm. This allowed for unbiased combination of the pollution data with our cancer incidence data, 
                            where the model would calculate determinative and predictive weights. Our model consists of three layers. The input for the training and test data was an array with 65 variables, 
                            derived from the 7 pollutants and the dummy values for Race, Gender and State. Our model works most accurately with an Adam optimizer and 20 epochs. Once generated we save our model for live reloading.</p>
                            <p>The user defines predictive inputs into the neural network by selecting race, gender, state and year. The selections and pollution data based on year are then added to the array and put 
                            through the network, returning percentage probabilities of respiratory cancer type as a short data table.</p>
                        </div>
                      </div>

             <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                          <div class="icon"><i class="fa fa-bar-chart"></i></div>
                          <h4 class="title"><a >4. Visualization </a></h4>
                          <p class="description">Through trial and error, we landed on Tableau and D3 to visualize our results on our webpage. We created three Tableau graphs to show how both pollution and cancer rates grow over time and into the future. We modeled a chart through D3 that shows cancer rate incidence percentage based on location, year, gender and race.</p>
                        </div>
                      </div>
                      <br>
                      <br>
                      <br>
            <div class="row">
          <div class="col-lg-4 col-md-12 offset-md-1 wow fadeInUp" style = "padding-top: 50px;">
            <iframe width=900 height=500 src="https://nbviewer.jupyter.org/github/sorlowek/Final-Project-ML-Cancer/blob/master/Painful_Project/Jupyter%20Notebook/Linear_regression.ipynb"></iframe>
          </div>
            </div> 


            <br>
            <br>
            <br>
            <br>


   <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp" style = "padding-top: 150px;">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/img/team/maggie.jpg" alt=""></div>
              <div class="details">
                <h4>Maggie Brink</h4>
                <div class="social">
                  <a href="https://www.linkedin.com/in/maggie-brink-65540391/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6"style = "padding-bottom: 200px;"> 
            <div class="member">
              <div class="pic"><img src="../static/img/team/shira.jpg" alt=""></div>
              <div class="details">
                <h4>Shira Orlowek</h4>
                <div class="social">
                  <a href="https://www.linkedin.com/in/shiraorlowek"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/img/team/Stephen.jpg" alt=""></div>
              <div class="details">
                <h4>Stephen Murphey </h4>
                
                <div class="social">
                  <a href="https://www.linkedin.com/in/stephen-murphy-2179134"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="../static/img/team/olivia.png" alt=""></div>
              <div class="details">
                <h4>Olivia Martin</h4>
                <div class="social">
                  <a href="https://www.linkedin.com/in/olivia-m-5a78b879"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

  <!---Template Main Javascript File-->

  <script src="{{ url_for('static',filename='lib/main/main.js')}}"></script>
  <link href="{{ url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <script src="{{ url_for('static',filename='lib/sticky/sticky.js')}}"></script>    
  <script src="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>

<script src="{{ url_for('static',filename='lib/superfish/hoverIntent.js')}}"></script>
<script src="{{ url_for('static',filename='lib/superfish/superfish.min.js')}}"></script>
<script src="{{ url_for('static',filename='lib/wow/wow.min.js')}}"></script>
<script src="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static',filename='lib//magnific-popup/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static',filename='lib/sticky/sticky.js')}}"></script>
<link href="{{ url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='lib/magnific-popup/magnific-popup.css')}}" rel="stylesheet">
<!--- <script src="{{ url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
<script href="{{ url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>-->
<script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static',filename='lib/easing/easing.min.js')}}"></script>
</html>

